@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

/* 
font-family: Ubuntu;
font-family: Monoton;
#070707, #9d9f9f, #f4f7f8 und #AC8059
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(31,33,37);
    color: #9d9f9f;
}

body{
    overflow: hidden;
}

header{
    font-family: Ubuntu;
}

header span{
    position: absolute;
    left: 15px;
    top: 35px;
}

header nav ul{
    text-align: right;
    padding-top: 35px;
}

header nav ul li{
    display: inline;
    padding: 15px;
}

header div{
    border: 1px solid #9d9f9f;
}

header nav ul li:hover{
    color:#fff;
}

header p{
    left: 65px;
    top: 35px;
    position: absolute;
}

main{
    position: relative;
    font-family: Ubuntu;
}

main h1{
    font-size: 50px;
    width: 320px;
    color: #fff;
    position: absolute;
    top: 170px;
    left: 110px;
}

main p:nth-of-type(1){
    position: absolute;
    top: 400px;
    left: 110px;
    color: rgb(168,137,115);
}

main img{
    width: 300px;
    height: 500px;
    border-radius: 5px;
}

main img:nth-of-type(3){
    position: absolute;
    right: -90px;
    top: 60px;
}

main img:nth-of-type(2){
    position: absolute;
    right: 250px;
    top: 60px;
}

main img:first-of-type{
    position: absolute;
    right: 600px;
    top: 60px;
}

main p:nth-of-type(2){
    position: absolute;
    left: 570px;
    top:520px;
    background-color: transparent;
}

main p:nth-of-type(3){
    position: absolute;
    left: 920px;
    top:520px;
    color: #000;
    background-color: transparent;
}

main p:nth-of-type(4){
    position: absolute;
    right:100px;
    top:520px;
    background-color: transparent;
}

footer span i{
    padding: 15px;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
}

footer span i:nth-of-type(2){
    left: 50px;
}

footer span i:nth-of-type(3){
    left: 100px;
}
